# Created by https://www.gitignore.io/api/osx,linux,windows,salesforcedx,visualstudiocode
# Edit at https://www.gitignore.io/?templates=osx,linux,windows,salesforcedx,visualstudiocode

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### SalesforceDX ###
# GitIgnore for Salesforce Projects
# Project Settings and MetaData
.project
.settings/
.metadata
build.properties

# Apex Log as optional
apex-scripts/log

# Eclipse specific
salesforce.schema
Referenced Packages
bin/
tmp/
config/
*.tmp
*.bak
local.properties
.settings
.loadpath
.classpath
*.cache

# Illuminated Cloud (IntelliJ IDEA)
IlluminatedCloud
out
.idea
*.iml

# Mavensmate
*.sublime-project
*.sublime-settings
*.sublime-workspace
mm.log

# Haoide SublimeText
.config
.deploy
.history

# OSX-specific exclusions
.[dD][sS]_[sS]tore

# The Welkin Suite specific
**/.localHistory

*.sfuo

TestCache.xml

TestsResultsCache.xml

### SalesforceDX Patch ###
.sfdx

### VisualStudioCode ###
.vscode/

### VisualStudioCode Patch ###
# Ignore all local history of files

### Windows ###
# Windows thumbnail cache files
[Tt]humbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/osx,linux,windows,salesforcedx,visualstudiocode

**/jsconfig.json
**/.jsconfig
.sf
src/
deploy/
node_modules
package.json
package-lock.json
